/* Style.css */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #86A789;
    align-items: baseline; /*yatayda hizalama*/
    padding: 1%;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.header .big-title{
    color: #3A4D39;
}
.header .menu-bar {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-position: center;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Diğer elemanları en sol ve en sağa yaslar */
    align-items: baseline; /*yatayda hizalama*/
    padding: 1%;
}

.header ul li {
    padding: 1%;
    margin: 0 10px;
    display: flex;
    flex-wrap: nowrap;
}

.header center {

    height:auto;
    font-size: 200%;
    font-weight: bold;
    background-position: center;
}

.header ul li .icon {
    padding: 2%;
    margin: 0 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline; /*yatayda hizalama*/
}


